server:
  port: 8080

spring:
  application:
    name: international-shopping
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${spring.datasource.host}:${spring.datasource.port}/shopdb?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
    hikari:
      pool-name: shopdb-hikari
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000     # 10min
      max-lifetime: 1800000    # 30min
      connection-timeout: 30000
  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}
      password: ${spring.data.redis.password}
      database: ${spring.data.redis.database}
      timeout: 3000
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 0
          time-between-eviction-runs: 120s

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    jdbc-type-for-null: 'NULL'
    default-executor-type: SIMPLE
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: AUTO
      table-underline: true


security:
  cookie:
    secure: ${security.cookie.secure}
    sameSite: ${security.cookie.sameSite}
    path: ${security.cookie.path}
    httpOnly: ${security.cookie.httpOnly}
  jwt:
    issuer: ${security.jwt.issuer}
    audience: ${security.jwt.audience}
    secret-base64: ${security.jwt.secret-base64}
    clock-skew-seconds: ${security.jwt.clock-skew-seconds}
    access-token-validity-seconds: ${security.jwt.access-token-validity-seconds}
    refresh-token-validity-seconds: ${security.jwt.refresh-token-validity-seconds}

oauth2:
  auth-provider-properties-list:
    - provider: GOOGLE
      issuer: https://accounts.google.com
      client-id: '${GOOGLE_CLIENT_ID}'
      client-secret: '${GOOGLE_CLIENT_SECRET}'
      authorization-endpoint: https://accounts.google.com/o/oauth2/v2/auth
      token-endpoint: https://oauth2.googleapis.com/token
      userinfo-endpoint: https://openidconnect.googleapis.com/v1/userinfo
      jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
      redirect-uri: http://localhost:8080/api/v1/oauth2/GOOGLE/callback
      scope: openid email profile
      default-success-redirect: http://localhost:8080
      clock-skew-seconds: 120

# Resend 配置
resend:
  api-key: ${RESEND_API_KEY}
  from-email: leila@eason.xin
  from-name: international-shopping
  activation-subject: Your verification code