<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping.international.infrastructure.dao.orders.OrderProductMapper">

    <resultMap id="SkuSaleSnapshotResultMap" type="shopping.international.infrastructure.dao.orders.po.SkuSaleSnapshotPO">
        <id column="sku_id" property="skuId"/>
        <result column="product_id" property="productId"/>
        <result column="title" property="title"/>
        <result column="cover_image_url" property="coverImageUrl"/>
        <result column="sku_attrs_json" property="skuAttrsJson"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <select id="selectSkuSaleSnapshots" resultMap="SkuSaleSnapshotResultMap">
        SELECT
            ps.id AS sku_id,
            ps.product_id,
            COALESCE(pi18n.title, p.title) AS title,
            p.cover_image_url,
            <choose>
                <when test="currency != null">
                    CASE
                        WHEN pp.is_active = 1
                             AND (pp.price_source = 'MANUAL'
                                  OR (pp.price_source = 'FX_AUTO'
                                      AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                      AND pp.fx_as_of <![CDATA[<=]]> NOW(3)))
                             AND pp.sale_price IS NOT NULL THEN pp.sale_price
                        WHEN pp.is_active = 1
                             AND (pp.price_source = 'MANUAL'
                                  OR (pp.price_source = 'FX_AUTO'
                                      AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                      AND pp.fx_as_of <![CDATA[<=]]> NOW(3))) THEN pp.list_price
                        ELSE NULL
                    END AS unit_price
                </when>
                <otherwise>
                    NULL AS unit_price
                </otherwise>
            </choose>,
            ps.stock,

            <!-- sku_attrs_json：规格 JSON + 追加 sale_price/list_price -->
            <choose>
                <when test="currency != null">
                    JSON_SET(
                        COALESCE(attrs.sku_attrs_json, JSON_OBJECT()),
                        '$.pricing_currency', CASE
                            WHEN pp.is_active = 1
                                 AND (pp.price_source = 'MANUAL'
                                      OR (pp.price_source = 'FX_AUTO'
                                          AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                          AND pp.fx_as_of <![CDATA[<=]]> NOW(3))) THEN pp.currency
                            ELSE NULL
                        END,
                        '$.sale_price', CASE
                            WHEN pp.is_active = 1
                                 AND (pp.price_source = 'MANUAL'
                                      OR (pp.price_source = 'FX_AUTO'
                                          AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                          AND pp.fx_as_of <![CDATA[<=]]> NOW(3))) THEN pp.sale_price
                            ELSE NULL
                        END,
                        '$.list_price', CASE
                            WHEN pp.is_active = 1
                                 AND (pp.price_source = 'MANUAL'
                                      OR (pp.price_source = 'FX_AUTO'
                                          AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                          AND pp.fx_as_of <![CDATA[<=]]> NOW(3))) THEN pp.list_price
                            ELSE NULL
                        END,
                        '$.price_source', CASE
                            WHEN pp.is_active = 1
                                 AND (pp.price_source = 'MANUAL'
                                      OR (pp.price_source = 'FX_AUTO'
                                          AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                          AND pp.fx_as_of <![CDATA[<=]]> NOW(3))) THEN pp.price_source
                            ELSE NULL
                        END,
                        '$.derived_from', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN pp.derived_from
                            ELSE NULL
                        END,
                        '$.fx_rate', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN pp.fx_rate
                            ELSE NULL
                        END,
                        '$.fx_as_of', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN DATE_FORMAT(pp.fx_as_of, '%Y-%m-%d %H:%i:%s')
                            ELSE NULL
                        END,
                        '$.fx_provider', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN pp.fx_provider
                            ELSE NULL
                        END,
                        '$.computed_at', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN DATE_FORMAT(pp.computed_at, '%Y-%m-%d %H:%i:%s')
                            ELSE NULL
                        END,
                        '$.algo_ver', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN pp.algo_ver
                            ELSE NULL
                        END,
                        '$.markup_bps', CASE
                            WHEN pp.is_active = 1
                                 AND pp.price_source = 'FX_AUTO'
                                 AND pp.fx_as_of <![CDATA[>=]]> DATE_SUB(NOW(3), INTERVAL 8 HOUR)
                                 AND pp.fx_as_of <![CDATA[<=]]> NOW(3) THEN pp.markup_bps
                            ELSE NULL
                        END
                    ) AS sku_attrs_json
                </when>
                <otherwise>
                    JSON_SET(
                        COALESCE(attrs.sku_attrs_json, JSON_OBJECT()),
                        '$.pricing_currency', NULL,
                        '$.sale_price', NULL,
                        '$.list_price', NULL
                    ) AS sku_attrs_json
                </otherwise>
            </choose>

        FROM product_sku ps
                 JOIN product p ON p.id = ps.product_id
                 <if test="locale != null">
                     LEFT JOIN product_i18n pi18n ON pi18n.product_id = p.id AND pi18n.locale = #{locale}
                 </if>
                 <if test="locale == null">
                     LEFT JOIN product_i18n pi18n ON 1 = 0
                 </if>
                 <if test="currency != null">
                     LEFT JOIN product_price pp ON pp.sku_id = ps.id AND pp.currency = #{currency}
                 </if>
                 LEFT JOIN (
                     SELECT
                         sps.sku_id AS sku_id,
                         JSON_OBJECTAGG(sp.spec_name, sv.value_name) AS sku_attrs_json
                     FROM product_sku_spec sps
                              JOIN product_spec sp ON sp.id = sps.spec_id
                              JOIN product_spec_value sv ON sv.id = sps.value_id
                     WHERE sps.sku_id IN
                     <foreach collection="skuIds" item="id" open="(" separator="," close=")">
                         #{id}
                     </foreach>
                     GROUP BY sps.sku_id
                 ) attrs ON attrs.sku_id = ps.id
        WHERE ps.id IN
        <foreach collection="skuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND ps.status = 'ENABLED'
          AND p.status = 'ON_SALE'
    </select>

</mapper>
