<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping.international.infrastructure.dao.products.ProductCategoryMapper">

    <select id="selectAdminPage" resultType="shopping.international.infrastructure.dao.products.po.ProductCategoryPO">
        SELECT pc.*
        FROM product_category pc
        <where>
            <if test="filterByParent">
                <choose>
                    <when test="parentId == null">
                        AND pc.parent_id IS NULL
                    </when>
                    <otherwise>
                        AND pc.parent_id = #{parentId}
                    </otherwise>
                </choose>
            </if>
            <if test="status != null and status != ''">
                AND pc.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                pc.name LIKE CONCAT('%', #{keyword}, '%')
                OR pc.slug LIKE CONCAT('%', #{keyword}, '%')
                OR EXISTS (
                SELECT 1 FROM product_category_i18n i
                WHERE i.category_id = pc.id
                AND (i.name LIKE CONCAT('%', #{keyword}, '%') OR i.slug LIKE CONCAT('%', #{keyword}, '%'))
                )
                )
            </if>
        </where>
        ORDER BY pc.level ASC, pc.sort_order ASC, pc.id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAdminPage" resultType="long">
        SELECT COUNT(1)
        FROM product_category pc
        <where>
            <if test="filterByParent">
                <choose>
                    <when test="parentId == null">
                        AND pc.parent_id IS NULL
                    </when>
                    <otherwise>
                        AND pc.parent_id = #{parentId}
                    </otherwise>
                </choose>
            </if>
            <if test="status != null and status != ''">
                AND pc.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                pc.name LIKE CONCAT('%', #{keyword}, '%')
                OR pc.slug LIKE CONCAT('%', #{keyword}, '%')
                OR EXISTS (
                SELECT 1 FROM product_category_i18n i
                WHERE i.category_id = pc.id
                AND (i.name LIKE CONCAT('%', #{keyword}, '%') OR i.slug LIKE CONCAT('%', #{keyword}, '%'))
                )
                )
            </if>
        </where>
    </select>

    <update id="updateDescendantsPath">
        UPDATE product_category
        SET path = CONCAT(#{newPrefix}, SUBSTRING(path, LENGTH(#{oldPrefix}) + 1)),
            level = level + #{levelDelta}
        WHERE path LIKE CONCAT(#{oldPrefix}, '%')
    </update>

</mapper>
